version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: redis_queue
    ports:
      - "6379:6379"
    restart: always

  rq-dashboard:
    build: .
    ports:
      - "9181:9181"

    depends_on:
      - redis

    environment:
      OAUTH2_TOKEN_VERIFICATION_KEY: ""
      OAUTH2_TOKEN_VERIFICATION_HEADER: "X-Forwarded-Access-Token"
      RQ_DASHBOARD_REDIS_URL: redis://redis:6379/0

    restart: always

  oauth2-proxy:
    image: quay.io/oauth2-proxy/oauth2-proxy:latest
    container_name: oauth2_proxy

    ports:
      - "4180:4180"

    depends_on:
      - rq-dashboard

    environment:
      OAUTH2_PROXY_CLIENT_ID: ""
      OAUTH2_PROXY_CLIENT_SECRET: ""
      OAUTH2_PROXY_COOKIE_SECRET: ""

      OAUTH2_PROXY_REQUEST_TIMEOUT: "30s"
      OAUTH2_PROXY_HTTP_UPSTREAM_TIMEOUT: "30s"

      OAUTH2_PROXY_PROVIDER: "keycloak-oidc"
      OAUTH2_PROXY_OIDC_ISSUER_URL: "http://host.docker.internal:8080/realms/master"
      OAUTH2_PROXY_UPSTREAMS: "http://rq-dashboard:9181"
      OAUTH2_PROXY_REDIRECT_URL: "http://localhost:4180/oauth2/callback"
      OAUTH2_PROXY_EMAIL_DOMAINS: "*"
      OAUTH2_PROXY_COOKIE_SECURE: "false"
      OAUTH2_PROXY_LOG_LEVEL: "debug"
      OAUTH2_PROXY_HTTP_ADDRESS: "0.0.0.0:4180"
      OAUTH2_PROXY_INSECURE_OIDC_ALLOW_UNVERIFIED_EMAIL: "true"
      OAUTH2_PROXY_PASS_ACCESS_TOKEN: "true"
      #IF WE SET THIS VARIABLE OAUTH2_PROXY WILL SEND TOKEN IN X-Forwarded-Access-Token HEADER
      OAUTH2_PROXY_SET_XAUTHREQUEST: "true"

    restart: always